.booksbg{
 background-color: white !important;
} 
.books {
  padding-top: 10vh;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10vh;
  justify-content: space-evenly;
}

.books .cards {
  overflow: hidden;
  display: flex;
  padding: 1%;
  border-radius: 10%;
  box-shadow: inset 0 0 5vh burlywood;
  width: 30vw;
}
.books .image {
  height: 100%;
  width: 40%;
  text-align: center;
}

.books .image img {
  border-radius: 5vh;
  width: 80%;
  width: 80%;
  margin: 10% 10% 10% 10%;
}

.books .image h4 {
  color: red;
  text-align: center;
}

.books .details {
  height: 100%;
  width: 60%;
}

.details p {
    height: 10%;
    margin:5% 0 0 0 ;
  color: red;
  font-weight: bold;
}
.details table{
    height: 60%;
}
.details table tr th {
  width: 30%;
  text-align: left;
  font-size:small;
  font-family: "Courier New", Courier, monospace;
}
.details table tr td{
    font-size: small;
}
.books .details table tr th,td {
  padding: 2%;
}
.details .btns {
  display: flex;
  justify-content: space-around;
}
.details .btns button{
    height: 5vh;
    width: 40%;
    margin:5% 0 0 0 ;
    border-radius: 20%;
    border: none;
    background: transparent;
    font-weight: bolder;
}
.details .btns button:first-child{
    box-shadow: inset 0 0 2vh green;
}
.details .btns button:nth-child(2){
    box-shadow: inset 0 0 2vh red;
}

