.homepage{
    height: 90vh;width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.441),rgba(0, 0, 0, 0.523)) ,url('../images/homebg.avif') no-repeat left;
    background-size: cover;
}
.homepage .msg{
    display: flex;
    align-items: center;
    height: 15vh;
    /* background-color: blue; */
}
span{
    color: white;
}
.homepage .msg h1{
    color: red;
    text-shadow: 1vh 1vh 2vh  white;
    margin: auto;
   
}
.homepage .msg h1 span{
    animation: blinker .5s linear infinite;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.homepage .container{
    /* border: .5vh dotted white; */
    position: absolute;
    top: 61%;
    left: 35%;
    background-color: rgba(190, 180, 168, 0.1);
    box-shadow: inset 0 0 2vh rgb(237, 182, 182);
    border-radius: 5vh;
}
.container p{
    color: rgb(138, 4, 31);
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.horse{
    position: absolute;
    top: 31%;
    left: 30%;
}
.horse1{
    position: absolute;
    top: 31%;
    left: 40%;
}
.horse2{
    position: absolute;
    top: 31%;
    left: 50%;
}